/*
    Author: Kaine van Ommeren
    Date: 20-12-2021
    Subject: Project portfolio website
*/
#extra_info
{
    padding: 0 20px 0 20px;
    width: auto;
    float: left;
}
h3
{
    padding-left: 40px;
}