/*
    Author: Kaine van Ommeren
    Date: 20-12-2021
    Subject: Project portfolio website
*/
@font-face {
    font-family: Quire Sans;
    src: url(../fonts/QuireSans.ttf);
}
/* Base layer elke pagina */
body
{
    font-family: 'Quire Sans', sans-serif;
    background-color: #C1C1C1;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: white;
}
td
{
    background-color: white;
}
tr
{
    background-color: white;
}
table
{
    background-color: black;
    color: black;
    margin-left: 130px;
}
article
{
    margin-left: 130px;
}