/*
    Author: Kaine van Ommeren
    Date: 20-12-2021
    Subject: Project portfolio website
*/
@font-face {
    font-family: Quire Sans;
    src: url(../fonts/QuireSans.ttf);
}
body
{
    font-family: 'Quire Sans', sans-serif;
    background-color: #C1C1C1;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: white;
}
td
{
    border: pink;
    background-color: darkblue;
}
tr
{
    background-color: lawngreen;
}
table
{
    background-color: aliceblue;
    color: crimson;
}