/*
    Author: Kaine van Ommeren
    Date: 20-12-2021
    Subject: Project portfolio website
*/
#info
{
    padding: 0 0 0 20px;
    width: auto;
    float: left;
    margin: 0;
}
#hamburger-icon
{
    margin: auto 0;
    display: none;
    cursor: pointer;
}
#hamburger-icon div
{
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
#kaine
{
    width: 20%;
    height: auto;
    padding-left: 400px;
    margin: 0;
}