/*
    Author: Kaine van Ommeren
    Date: 20-12-2021
    Subject: Project portfolio website
*/
article
{
    margin-left: 130px;
}
.food
{
    height: 500px;
    width: auto;
}
#voetbal
{
    height: 500px;
    width: auto;
    margin-bottom: 150px;
}