/*
    Author: Kaine van Ommeren
    Date: 20-12-2021
    Subject: Project portfolio website
*/
@font-face {
    font-family: Quire Sans;
    src: url(/fonts/QuireSans.ttf);
}
body
{
    font-family: 'Quire Sans', sans-serif;
    background-color: #C1C1C1;
    margin: 0;
    scroll-behavior: smooth;
    color: white;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a
{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}
a
{
    color: white;
}
a:visited
{
    color: white;
}
a:hover
{   
    color: whitesmoke;
}
nav
{
    padding-top: 10px;
    float: right;
    font-size: 27px;
    padding-right: 20px;
}
#photo_developer
{
    max-width: 250px;
    padding-left: 75px;
    padding-bottom: 20px;
    height: auto
}
#photo_kaine
{
    padding-left: 40px;
    padding-top: 20px;
}
h1
{
    padding-left: 40px;
}
p
{
    padding-left: 40px;
}
#info
{
    padding: 10px 0 10px 40px;
    text-align: center;
    width: 600px;
}